<!DOCTYPE html>
<html>
<head>
  <title>Add New Tutorial</title>
</head>
<body>
  <h2>Add New Tutorial</h2>
  <form action="/add-tutorial" method="post">
    <label for="TutorialID">Tutorial ID:</label>
    <input type="text" id="TutorialID" name="TutorialID" required><br>

    <label for="TutorialDate">Tutorial Date:</label>
    <input type="date" id="TutorialDate" name="TutorialDate" required><br>

    <label for="TutorialTime">Tutorial Time:</label>
    <input type="time" id="TutorialTime" name="TutorialTime" required><br>

    <label for="Students">Students:</label>
    <input type="text" id="Students" name="Students" required><br>

    <label for="Tutor">Tutor:</label>
    <input type="text" id="Tutor" name="Tutor" required><br>

    <label for="Fee">Fee:</label>
    <input type="number" id="Fee" name="Fee" required><br>

    <label for="TutorialNumber">Tutorial Number:</label>
    <input type="text" id="TutorialNumber" name="TutorialNumber" required><br>

    <label for="TutorialAttendance">Tutorial Attendance:</label>
    <input type="text" id="TutorialAttendance" name="TutorialAttendance" required><br>

    <label for="TutorialSubject">Tutorial Subject:</label>
    <input type="text" id="TutorialSubject" name="TutorialSubject" required><br>

    <label for="TutorialNotes">Tutorial Notes:</label>
    <textarea id="TutorialNotes" name="TutorialNotes" rows="4" cols="50"></textarea><br>

    <input type="submit" value="Add Tutorial">
  </form>
</body>
</html>